:root {
  --button-bgc: #4d5ae5;
  --accent-color: #404bbf;
  --dark-color: #2e2f42;
  --text-color: #434455;
  --white-color: #ffffff;
  --light-bgc: #f4f4fd;
  --hairlines: #e7e9fc;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--white-color);
  color: var(--text-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-bgc);
}

.logo-studio {
  color: var(--dark-color);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--dark-color);
  letter-spacing: 0.02em;
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav-link:hover,
.nav-link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.header-address {
  font-style: normal;
}

.hero {
  background-color: var(--dark-color);
  padding: 188px 0;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white-color);
}

.hero-button {
  background-color: var(--button-bgc);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-color);
}

.about-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-section {
  background-color: var(--light-bgc);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-item {
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.footer {
  background-color: var(--dark-color);
}

.footer-logo-studio {
  color: var(--light-bgc);
}

.footer .text {
  color: var(--light-bgc);
}

.filter-btn {
  background-color: var(--light-bgc);
  border: 1px solid var(--hairlines);
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--button-bgc);
  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: transparent;
  color: var(--white-color);
}

.portfolio-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}
